<div class="d-flex mb-3 ms-1">
  <button class="btn rounded-1 boton py-1 px-4 me-4" (click)="listadoDefault()" type="submit">Todo</button>
  <button class="btn rounded-1 boton py-1 px-4" (click)="listadoAfin()" type="submit">Afin</button>
</div>
<div class="row p-0">
  <div class="col-lg-3 col-6 p-3" *ngFor="let design of listadoMostrar">
    <div class="design p-2 rounded-1 shadow-sm">
      <img class="img-thumbnail mb-2" src="{{design.imagen}}">
      <label class="resaltado my-1"><span>{{letraMayuscula(design.titulo)}}</span></label>
      <div class="d-flex justify-content-between">
        <label>De <span>{{letraMayuscula(design.nombre)}}</span></label>
        <label>{{design.fecha}}</label>
      </div>
    </div>
  </div>
</div>
