<div class="row rounded-1 my-5 py-5">
  <div class="col-lg-6 col-12 portada align-items-center py-5 px-5 text-center">
    <h1 class="h1 mb-5 pb-3 pt-5">PICTOON</h1>
    <p class="mb-5">Volver a enviar email de restauración de contraseña</p>
    <div class="pt-1 mb-2">
      <button (click)="abrirRestPasswd()" type="button" class="btn px-4 py-2 boton rounded-1">Restaurar Contraseña</button>
    </div>
  </div>
  <div class="col-lg-6 col-12 py-4 intro">
    <div class="card-body p-4 text-black text-center">
      <form #regForm="ngForm" [formGroup]="genPasswdForm" (ngSubmit)="genPasswd()">
        <div class="mb-4 border-bottom border-3">
          <h2 class="fw-bold mb-0 mb-3 pb-1">GENERAR CONTRASEÑA</h2>
        </div>
          <h6 class="mb-3 pb-3 fw-light">Inserta el código de verificación y escribe una nueva contraseña.</h6>

          <div class="form-outline mb-5 text-start">
            <label class="form-label">Código</label>

            <input type="text"
              formControlName="codigo"
              [ngClass]="{'is-invalid' : form['codigo'].invalid && form['codigo'].dirty}"
              class="form-control"/>

            <div *ngIf="form['codigo'].invalid" class="invalid-feedback">
              <div *ngIf="form['codigo'].errors?.['required']" class="error alert alert-danger mt-2">El código es obligatorio</div>
            </div>
          </div>

          <hr class="hr-text mb-4 mt-5" data-content="Nueva Contraseña">

          <ng-container formGroupName="passwords">
            <div class="form-outline mb-4 text-start">
              <label class="form-label">Contraseña</label>

              <input type="password"
                  formControlName="passwd"
                  class="form-control"
                  [ngClass]="{'is-invalid' : passwords.get('passwd')?.invalid && passwords.get('passwd')?.dirty}" />

              <div *ngIf="passwords.get('passwd')?.invalid" class="invalid-feedback">
                <div *ngIf="passwords.get('passwd')?.errors?.['required']" class="error alert alert-danger mt-2">La contraseña es obligatoria</div>
              </div>
            </div>

            <div class="form-outline text-start">
              <label class="form-label" for="form2Example2">Confirmar Contraseña</label>

              <input type="password"
                formControlName="passwdConf"
                class="form-control"
                [ngClass]="{'is-invalid' : passwords.get('passwdConf')?.invalid && passwords.get('passwdConf')?.dirty}" />

              <div *ngIf="passwords.get('passwdConf')?.invalid" class="invalid-feedback">
                <div *ngIf="passwords.get('passwdConf')?.errors?.['required']" class="error alert alert-danger mt-2 mb-0">Repetir la contraseña es obligatorio</div>
              </div>

            </div>
            <div *ngIf="passwords.errors?.['confirmarPasswd']" class="text-start error alert alert-danger mt-2">Las contraseñas deben de coincidir</div>
          </ng-container>

        <div class="pt-1 mb-2 mt-5">
          <button class="btn rounded-1 boton py-2 px-4" [disabled]="genPasswdForm.invalid" type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="position-absolute top-50 start-50 translate-middle mensaje card shadow-lg mb-5 bg-body rounded" *ngIf="genPasswdCorrecto == 1 || genPasswdCorrecto == 2" style="width: 400px;">
  <div *ngIf="genPasswdCorrecto == 1" class="card-body text-center p-0 pb-3">
    <div style="background-color: #ffa8ba;" class="p-3 mb-3"><i class="fa-solid fa-triangle-exclamation me-2" style="color:var(--colorBlanco); font-size: var(--TamTitulo);"></i></div>
    <span class="pt-5 m-3">{{resultado.msg}}</span>
  </div>

  <div *ngIf="genPasswdCorrecto == 2" class="card-body text-center p-0">
    <div style="background-color: #ffa8ba;" class="p-3 mb-3"><i class="fa-solid fa-circle-check me-2" style="color:var(--colorBlanco); font-size: var(--TamTitulo);"></i></div>
    <span class="pt-5 m-3">{{resultado.msg}}</span><br>
    <button (click)="abrirLogin()" class="btn boton btn-light m-4 p-2 px-5">Login</button>
  </div>
</div>

