<div class="fondo-inicio mh-100">
  <div class="container">
    <div class="row d-flex justify-content-center align-items-center py-4 px-5">
      <ng-container *ngIf="inicio == 'registro'">
        <app-register></app-register>
      </ng-container>
      <ng-container *ngIf="inicio == 'login'">
        <app-login></app-login>
      </ng-container>
      <ng-container *ngIf="inicio == 'recpassword'">
        <app-recuperar-password></app-recuperar-password>
      </ng-container>
      <ng-container *ngIf="inicio == 'genpassword'">
        <app-generar-password></app-generar-password>
      </ng-container>
    </div>
  </div>
</div>
