.fondo-inicio{
  background-image: url(../../../../assets/imgs/stacked-waves-haikei.svg);
  background-position: bottom;
  background-size:cover;
  height: 100vh;
  .container{
    width: 80%;
  }
}

@media (max-width: 992px) {
  .fondo-inicio{
    background-image: url(../../../../assets/imgs/stacked-waves-haikei-movil.svg);
    height: auto;
  }
}
