.contenedor{
  background-color: #fff;
  img{
    width: 100%;
  }
  .avatar{
    width: 36px;
    height: 36px;
    border-radius: 18px;
    object-fit: cover;
  }
  h2{
    font-family: var(--TipoSubtitulo);
    border-bottom: 3px dotted var(--colorRosa);
  }
  h4, h2{
    color: var(--colorRosa);
  }
  i{
    color: var(--colorRosa);
    font-size: 14px;
  }
  .etiquetas{
    div{
      background-color: var(--colorRosa);
      display: inline;
      label{
        color: #fff;
        i{
          color: #fff;
        }
      }
    }
  }
}
