<div class="px-5 mx-5 mb-3 contenedor-subir">
  <div class="info mb-4 p-5 rounded-1 shadow-sm" *ngFor="let producto of listadoProductos" id="info{{producto.id}}">
    <div class="row">
      <div class="col-lg-3">
        <img src="{{producto.imagen}}" class="rounded-1 shadow-sm">
      </div>
      <div class="col-lg-9 mt-3">
        <div class="row">
          <h4 class="mb-4 ms-3 me-5 pb-2 p-0">{{letraMayuscula(producto.titulo)}}</h4>
          <div class="col-lg-5">
            <p class="mb-2">{{producto.fecha}}</p>
            <p><label class="resaltado"><b>Precio :&nbsp;</b></label>{{producto.precio}}€</p>
            <div class="mb-5 mt-5 etiquetas">
              <div class="p-2 px-3 rounded-1 me-4"><label><i class="fa-solid fa-bag-shopping"></i>&nbsp;&nbsp;{{letraMayuscula(producto.tipo)}}</label></div>
              <div class="p-2 px-3 rounded-1"><label><i class="fa-solid fa-box"></i>&nbsp;&nbsp;{{letraMayuscula(producto.estado)}}</label></div>
            </div>
          </div>
          <div class="col-lg-6">
            <p class="resaltado mb-2"><b>Descripción</b></p>
            <p>{{letraMayuscula(producto.descripcion)}}</p>
          </div>
          <div class="col-lg-1">
            <div class="mt-5 mx-3 iconos">
              <button type="button" *ngIf="producto.activado == 1" class="d-flex align-items-center border-0 rounded p-2" (click)="activarProducto(producto.id, 0)"><i style="font-size: 17px;" class="fa-solid fa-check"></i></button>
              <button type="button" *ngIf="producto.activado == 0" class="d-flex align-items-center border-0 rounded p-2 desactivado" (click)="activarProducto(producto.id, 1)"><i style="font-size: 18px;" class="fa-solid fa-xmark"></i></button>
              <button type="button" class="d-flex align-items-center border-0 rounded p-2 my-3" (click)="modificarProducto(producto.id)"><i class="fa-solid fa-pen"></i></button>
              <button type="button" class="d-flex align-items-center border-0 rounded p-2" (click)="abrirBorrarProducto(producto.id)"><i class="fa-solid fa-trash"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="position-absolute top-50 start-50 translate-middle mensaje card shadow-lg mb-5 bg-body rounded" *ngIf="confirmarBorrarProducto == 1 && id_producto==producto.id" style="width: 400px;">
      <div class="card-body text-center p-0">
        <div style="background-color: #ffa8ba;" class="p-3 mb-3"><p class="m-0" style="color:var(--colorBlanco); font-size: var(--TamTitulo);">Confirmar Borrado</p></div>
        <span class="pt-5 m-3">¿Estás seguro que quieres borrar el producto?</span><br>
        <div class="d-flex justify-content-center">
          <button (click)="borrarProducto()" class="btn boton btn-light m-4 p-1 px-3">Borrar</button>
          <button (click)="cerrarBorrarProducto()" class="btn boton btn-light m-4 p-1 px-3">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>


