<div>
  <h3>Diseños Recomendados</h3>
</div>
<div class="row p-0">
  <div class="col-lg-2 col-6 p-3" *ngFor="let design of disenosRecomendados">
    <div class="design p-2 rounded-1 shadow-sm">
      <img class="img-thumbnail mb-2" src="{{design.imagen}}">
      <label class="resaltado my-1"><span>{{letraMayuscula(design.titulo)}}</span></label>
      <div class="d-flex justify-content-between">
        <label>De <span>{{letraMayuscula(design.nombre)}}</span></label>
        <label>{{design.fecha}}</label>
      </div>
    </div>
  </div>
  <div *ngIf="mensaje == 1" class="me-5 m-2 mt-3">
    <div class="design px-5 p-4 rounded-1 shadow-sm">
      <p class="m-0">¡Aún no sabemos tus gustos!. <br>Añade diseños a favoritos y así podremos recomendarte diseños según tus preferencias</p>
    </div>
  </div>
</div>

