<div class="fondo-inicio">
  <div class="row mw-100 vh-100">
    <div class="col-lg-6 col-12 p-5 info-inicio">
      <h1 class=" mt-4 ms-5 p-5 pb-2 m-3"><b>PICTOON</b></h1>
      <p class=" ms-5 p-4 ">¡Bienvenidos a Pictoon!. Pulsa en entrar e inicia sesión o registrate y podrás ver diseños increíbles de nuestros artistas. También podrás
        ver y comprar productos con los diseños que más te gusten.</p>
      <a routerLink="auth/login" class="ms-5"><button type="button"
          class="btn ms-5 px-4 py-2 boton rounded-1">ENTRAR</button></a>
    </div>
    <div class="col-lg-6 col-12">
    </div>
  </div>
</div>

