<div class="row rounded-1 my-5 py-5">
  <div class="col-lg-6 col-12 portada align-items-center py-5 px-5 text-center">
    <h1 class="h1 mb-5 pb-3 pt-5">PICTOON</h1>
    <p class="mb-5">¿Aún no te has registrado? <br>Registrate y mira nuestros diseños</p>
    <div class="pt-1 mb-2">
      <button  (click)="abrirRegistro()" type="button" class="btn px-4 py-2 boton rounded-1">Registro</button>
    </div>
  </div>
  <div class="col-lg-6 col-12 py-4 intro">
    <div class="card-body p-4 text-black text-center">
      <form #regForm="ngForm" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-4 border-bottom border-3">
          <h2 class="fw-bold mb-0 mb-3 pb-1">INICIAR SESIÓN</h2>
        </div>

        <div class="form-outline mb-4 text-start">
          <label class="form-label">Email</label>

          <input type="email" formControlName="email"
            [ngClass]="{'is-invalid' : form['email'].invalid && form['email'].dirty}" class="form-control" />

          <div *ngIf="form['email'].errors" class="invalid-feedback">
            <div *ngIf="form['email'].errors?.['required']" class="error alert alert-danger mt-2">El email es
              obligatorio</div>
            <div *ngIf="form['email'].errors?.['pattern']" class="error alert alert-danger mt-2">El email debe ser
              válido</div>
          </div>
        </div>

        <div class="form-outline mb-4 text-start">
          <label class="form-label">Contraseña</label>

          <input type="password" formControlName="passwd" class="form-control"
            [ngClass]="{'is-invalid' : form['passwd'].invalid && form['passwd'].dirty}" />

          <div class="mt-3 mb-2">
            <label><a (click)="abrirRecPasswd()" style="font-size:16px; color: var(--colorRosa); cursor:pointer"><b>¿Has olvidado tu contraseña?</b></a></label>
          </div>

          <div *ngIf="form['passwd'].invalid" class="invalid-feedback">
            <div *ngIf="form['passwd'].errors?.['required']" class="error alert alert-danger mt-2">La contraseña es
              obligatoria</div>
          </div>
        </div>

        <div class="pt-1 mb-2 mt-4">
          <button class="btn rounded-1 boton py-2 px-4" [disabled]="loginForm.invalid" type="submit">Iniciar Sesión</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="position-absolute top-50 start-50 translate-middle mensaje card shadow-lg mb-5 bg-body rounded"  *ngIf="loginCorrecto == 1" style="width: 400px;">
  <div class="card-body text-center p-0 pb-3">
    <div style="background-color: #ffa8ba;" class="p-3 mb-3"><i class="fa-solid fa-triangle-exclamation me-2" style="color:var(--colorBlanco); font-size: var(--TamTitulo);"></i></div>
    <span class="pt-5 m-3">{{resultado.msg}}</span>
  </div>
</div>
