footer{
  line-height: 1.8em;
  background-color: var(--colorAzul);
  h1{
    font-family: var(--TipoTitulo);
    color: #fff;
  }
  h5{
    color: #fff;
    border-bottom: 2px dotted var(--colorRosa);
    font-family: var(--TipoSubtitulo);
  }
  a{
    cursor: pointer;
    &:hover{
      color: var(--colorRosa);
    }
  }
  i{
    color: #fff;
  }
  .redes{
    border-top: 2px dotted var(--colorRosa);
    p{
      color: #fff;
    }
    .fa-inverse{
      color: var(--colorRosa);
      &:hover{
        color: var(--colorAmarillo);
      }
    }
  }
}
