@font-face {
  font-family: font-texto;
  src: url(./assets/tipografia/Linotte-Regular.otf) format("woff2");
}

@font-face {
  font-family: font-titulo;
  src: url(./assets/tipografia/Linotte-Heavy.otf) format("woff2");
}

@font-face {
  font-family: font-subtitulo;
  src: url(./assets/tipografia/Linotte-Bold.otf) format("woff2");
}

:root {

    //----------------------COLORES----------------------//

    --colorRosa:#ffa8ba;
    --colorGris:#ECEDED;
    --colorAzul:#72E6F5;
    --colorAmarillo:#ffe54c; //#D2AD76
    --colorBlanco:#ffffff;
    --colorTransparente: #eceded82;

    //--------------------TIPOGRAFÍA----------------------//

    --TipoTexto: font-texto;
    --TipoTitulo: font-titulo;
    --TipoSubtitulo: font-subtitulo;

    //-----------------TAMAÑO-TIPOGRAFÍA------------------//

    --TamTitulos: 55px;
    --TamLogo: 26px;
    --TamMenu: 14px;
    --TamTexto:14px;
    --TamError:13px;

    //------------------PESO-TIPOGRAFÍA-------------------//


    //------------------HOVER-TIPOGRAFÍA-------------------//

    --BottomOffset: 0;
    --LineHeight: 20px;

}
body{
  font-family: var(--TipoTexto);
  overflow-x: hidden;
  position:sticky;
}

a{
  text-decoration: none;
  color: #000;
}

