nav{
  background-color: var(--colorAzul);
  color: var(--colorBlanco);
  h5{
    font-family: var(--TipoTitulo);
    font-weight: var(--TamLogo);
    margin: auto;
    border-right: 2px dotted var(--colorRosa);
  }
  .menu-icon{
    .info-usuario{
      img{
        width: 30px;
        height: 30px;
        border-radius: 15px;
      }
      .dropdown-menu{
        .info-perfil{
          background-color: var(--colorGris);
          img{
            width: 50px;
            height: 50px;
          }
        }
      }
    }
    i:hover{
      background-color: var(--colorAmarillo);
      transform: scale(1);
      transition: all 0.8s;
    }
  }
  a{
    cursor: pointer;
  }
}
